body {
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

#head{
    color: red;
    font-weight: bold;
}

#mytable{
    width: 100%;
    padding-top: 50px;

}