<div class="container" id="regPage">
    <div class="row vertical-offset-100">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <div class="panel-heading">
                    <h3 class="panel-title">
                        Sign Up
                    </h3>
                </div> -->
            <!-- <div *ngFor="let err of errors" class="alert alert-danger">{{err}}</div> -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sign Up
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="form" id="form" class="form-vertical" (submit)="signUp($event)">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" [(ngModel)]="userData.username" required type="text" class="form-control" name="username" value="" placeholder="Username" required minlength="4" maxlength="20" #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                class="alert alert-danger">
                                <div *ngIf="name.errors.required">
                                     Username required.
                                </div>
                                <div *ngIf="name.errors.minlength">
                                    Username must contain 4-20 characters.
                                </div>
                                <div *ngIf="name.errors.maxlength">
                                    Username must contain 4-20 characters.
                                </div>    
                            </div>             
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="email" [(ngModel)]="userData.email" required type="email" class="form-control" name="email" value="" placeholder="Email" email="true" #email="ngModel" required>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                     Email required.
                                </div>
                                <div *ngIf="!email?.valid">
                                    Invalid email pattern.
                                </div>
                            </div>        
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" [(ngModel)]="userData.password" required type="password" class="form-control" name="password" placeholder="Password" required minlength="4" maxlength="20" #pword="ngModel">
                            <div *ngIf="pword.invalid && (pword.dirty || pword.touched)"
                                class="alert alert-danger">
                                <div *ngIf="pword.errors.required">
                                     Password required.
                                </div>
                                <div *ngIf="pword.errors.minlength">
                                    Password must contain 4-20 characters.
                                </div>
                                <div *ngIf="pword.errors.maxlength">
                                    Password must contain 4-20 characters.
                                </div>    
                            </div>  
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="cpassword" [(ngModel)]="userData.cpassword" required type="password" class="form-control" name="cpassword" placeholder="Confirm Password" #cp="ngModel" required match-password="password">
                            <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
                                class="alert alert-danger">
                                <div *ngIf="cp.errors.required">
                                     Confirm Password.
                                </div>
                            </div>
                            <div *ngIf="userData.cpassword != userData.password"
                                class="alert alert-danger">
                                 <div [hidden] = "userData.cpassword == userData.password">
                                     Passwords do not match.
                                </div>
                            </div>          
                        </div>

                        <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>